nav{
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
}

p{
    font-family: 'Shadows Into Light', cursive;
    text-align: justify;
    font-size: 20px;
}

a{font-family: 'Shadows Into Light', cursive;
    font-size: 35px;

}

h1{
    font-family: 'Shadows Into Light', cursive;

}

h2{
    font-family: 'Shadows Into Light', cursive;
}